body {
    font-family: "Microsoft Yahei",Helvetica,"Lucida Grande",Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
.chart{
    height: 450px;
}
#recommend{
	text-align: center;
}
#nowHeartRate{
	font-size: 40px;
	font-weight: bold;
}

