body {
    font-family: "Microsoft Yahei",Helvetica,"Lucida Grande",Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    background-color: #f5f5f5;
    color: #000;
}
.chart{
    height: 400px;
}
#recommend{
	text-align: center;
}
#nowHeartRate{
	font-size: 40px;
	font-weight: bold;
}
